img {
    width: 160px;
    height: 90px;
}

#screencontent_new, #screencontent_old, #question_card {
    overflow-y: auto;
    max-height: 500px;
}

.question_btn {
    width: 50px;
}

.header_btn {
    height: 12px;
}

.caption {
    display: inline-block;
    margin: 12px;
}

.btn {
    margin: 4px;
}

#logo {
    margin-left: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #8984f1;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}